<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785459560964-jbqbe82lt3och12smmje91u2jjr3p2qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785459560964-jbqbe82lt3och12smmje91u2jjr3p2qn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785459560964-eaiccuuenkk50f8prjo80h1k79inj0u1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgB4MxSsspBDTW4vyA_qsM5aoGm7hkzIc</string>
	<key>GCM_SENDER_ID</key>
	<string>785459560964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>countdownapp.app</string>
	<key>PROJECT_ID</key>
	<string>countdown-258e5</string>
	<key>STORAGE_BUCKET</key>
	<string>countdown-258e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785459560964:ios:d8f417cf3eb149cfab6b51</string>
</dict>
</plist>